@charset "UTF-8";

/*Estilo para Tela*/ 

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
}
body{
    background-color: lightgreen;
}
article{
    background-color: white;
    width: 700px;
    padding: 50px;
    box-shadow: 0px 10px 10px black;
}
header{
    background-color: black;
    
}
h1{
    color: white;
}

header > h1, h2{
    text-align: center;
    padding: 10px;
    font-family: cursive;
}

menu ul{
    list-style-type: none;
    background-color: black;
}
menu a{
    text-decoration: none;
    color: white;
    padding: 5px;
    
}
menu a:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
}

menu li{
    display: inline-block;
    padding: 10px;
}

article{
    width: 700px;
    display: block;
    margin: auto;
}