@charset "UTF-8";

div#main{
    background-color: #5D91D9;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
    width: 60vw;
    height: 75vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section#img{
    width: 50%;
    height: 100%;
    background-color: black;
    float: left;
}
img{
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%);
    height: 210px;
    width: 200px;
}
section#txt{
    float: right;
    width: 50%;
    height: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.321);
    font-size: 25px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
   
}
form{
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 40px;
}

p#botao > input{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    background-color: black;
    color: white;
    
}
input#inome, input#iemail, input#itel{  
    width: 25vw;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
